/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  overflow-x: hidden;
}

body {
  line-height: 1;
  background-color: #f8f8f8e5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 80px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 3;
}

header .logo {
  font-family: "Quicksand", sans-serif;
  padding-left: 110px;
  font-size: 26px;
  line-height: 39px;
}

@media screen and (max-width: 700px) {
  header .logo {
    padding-left: 15px;
  }
}

header .fa-bars {
  display: none;
}

@media screen and (max-width: 700px) {
  header .fa-bars {
    display: block;
    margin-right: 10px;
  }
}

header .nav.active {
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 700px) {
  header .nav {
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 70px;
    right: -100%;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    padding: 10px 10px 15px 10px;
  }
}

header .nav ul {
  padding-right: 120px;
}

@media screen and (max-width: 700px) {
  header .nav ul {
    display: block;
    text-align: center;
    padding-right: 0;
  }
}

header .nav ul li {
  display: inline-block;
  padding-right: 15px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 700px) {
  header .nav ul li {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    border-top: solid #e5e5e5 1px;
    padding: px;
  }
}

main {
  padding-top: 130px;
}

main .landing-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  main .landing-page {
    display: inline-block;
    margin-left: 20px;
  }
}

main .landing-page .land1 {
  margin: auto;
  padding-top: 40px;
}

main .landing-page .land1 h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  line-height: 63px;
  padding-bottom: 20px;
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  main .landing-page .land1 h1 {
    font-size: 30px;
    line-height: 43px;
  }
}

main .landing-page .land1 p {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

main .landing-page .land1 button {
  background-color: #2b4cde;
  padding: 10px 30px;
  color: white;
  border: none;
  margin-top: 20px;
  -webkit-box-shadow: 1px 6px 8px #cccccc;
          box-shadow: 1px 6px 8px #cccccc;
}

main .landing-page .land1 .promotion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 70px;
  position: relative;
}

main .landing-page .land1 .promotion .promo-1 {
  position: relative;
}

main .landing-page .land1 .promotion .promo-2 {
  position: relative;
  top: 8px;
  left: 8px;
}

main .landing-page .land1 .promotion .promo-3 {
  position: relative;
}

@media screen and (max-width: 700px) {
  main .landing-page .land1 .promotion .promo-3 {
    margin-left: 20px;
  }
}

main .landing-page .land2 {
  margin-top: 80px;
}

main .landing-page .land2 img {
  width: 520px;
  border-radius: 90px 10px 10px 10px;
  -webkit-box-shadow: 30px 30px #e5e5e5;
          box-shadow: 30px 30px #e5e5e5;
  margin-left: 40px;
}

@media screen and (max-width: 900px) {
  main .landing-page .land2 img {
    width: 320px;
    margin-left: 10px;
    -webkit-box-shadow: 15px 15px #e5e5e5;
            box-shadow: 15px 15px #e5e5e5;
  }
}

main .card1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "home1 home2 home3" "home1 home4 home5";
  margin: auto;
  margin-left: 70px;
  padding-top: 100px;
  position: relative;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 700px) {
  main .card1 {
    display: inline-block;
    margin: auto;
  }
}

main .card1 .Most-Picked {
  position: absolute;
  top: 60px;
  margin-left: 35px;
}

@media screen and (max-width: 700px) {
  main .card1 .Most-Picked {
    font-size: 23px;
    margin-left: 25px;
  }
}

main .card1 .home1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: home1;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 700px) {
  main .card1 .home1 {
    left: 25px;
    right: 0;
  }
}

main .card1 .home1 img {
  height: 460px;
}

@media screen and (max-width: 700px) {
  main .card1 .home1 img {
    height: 300px;
  }
}

main .card1 .home1 .price {
  position: absolute;
  background-color: #ff1c6f;
  color: white;
  font-size: 15px;
  width: 40%;
  padding: 10px;
  top: 0px;
  right: 0px;
  border-radius: 0 10px 0 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  main .card1 .home1 .price {
    right: 84px;
  }
}

main .card1 .home1 .place-title {
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: white;
  font-size: 13px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 700px) {
  main .card1 .home1 .place-title {
    bottom: 15px;
  }
}

main .card1 .home1 .place-title h1 {
  line-height: 30px;
  font-weight: 300px;
}

main .card1 .home1 .place-title p {
  font-size: 9px;
}

main .card1 .home2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: home2;
  position: relative;
  margin: auto;
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  main .card1 .home2 {
    margin-top: 20px;
    left: 25px;
  }
}

main .card1 .home2 .price {
  position: absolute;
  background-color: #ff1c6f;
  color: white;
  font-size: 15px;
  width: 40%;
  padding: 10px;
  top: 0px;
  right: 0px;
  border-radius: 0 10px 0 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  main .card1 .home2 .price {
    right: 1px;
  }
}

main .card1 .home2 img {
  height: 215px;
}

@media screen and (max-width: 700px) {
  main .card1 .home2 img {
    height: 190px;
  }
}

main .card1 .home2 .place-title {
  position: absolute;
  bottom: 30px;
  left: 10px;
  font-style: normal;
  color: #f8f8f8e5;
  font-size: 13px;
}

@media screen and (max-width: 700px) {
  main .card1 .home2 .place-title {
    bottom: 10px;
  }
}

main .card1 .home2 .place-title h1 {
  line-height: 30px;
  font-weight: 300px;
}

main .card1 .home2 .place-title p {
  font-size: 9px;
}

main .card1 .home3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: home3;
  position: relative;
}

@media screen and (max-width: 700px) {
  main .card1 .home3 {
    right: 0;
    left: 25px;
    margin-top: 20px;
  }
}

main .card1 .home3 .price {
  position: absolute;
  background-color: #ff1c6f;
  color: white;
  font-size: 15px;
  width: 40%;
  padding: 10px;
  top: 0px;
  right: 65px;
  border-radius: 0 10px 0 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  main .card1 .home3 .price {
    right: 0;
  }
}

main .card1 .home3 img {
  height: 215px;
}

@media screen and (max-width: 700px) {
  main .card1 .home3 img {
    height: 190px;
  }
}

main .card1 .home3 .place-title {
  position: absolute;
  bottom: 30px;
  left: 10px;
  font-style: normal;
  color: #f8f8f8e5;
  font-size: 13px;
}

@media screen and (max-width: 700px) {
  main .card1 .home3 .place-title {
    bottom: 10px;
  }
}

main .card1 .home3 .place-title h1 {
  line-height: 30px;
  font-weight: 300px;
}

main .card1 .home3 .place-title p {
  font-size: 9px;
}

main .card1 .home4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: home4;
  position: relative;
  top: 15px;
  margin: auto;
}

@media screen and (max-width: 700px) {
  main .card1 .home4 {
    left: 25px;
    right: 0;
    margin-top: 5px;
  }
}

main .card1 .home4 .price {
  position: absolute;
  background-color: #ff1c6f;
  color: white;
  font-size: 15px;
  width: 40%;
  padding: 10px;
  top: 0px;
  right: 0px;
  border-radius: 0 10px 0 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  main .card1 .home4 .price {
    right: 1px;
  }
}

main .card1 .home4 img {
  height: 215px;
}

@media screen and (max-width: 700px) {
  main .card1 .home4 img {
    height: 190px;
  }
}

main .card1 .home4 .place-title {
  position: absolute;
  bottom: 30px;
  left: 25px;
  font-style: normal;
  color: #f8f8f8e5;
  font-size: 13px;
}

@media screen and (max-width: 700px) {
  main .card1 .home4 .place-title {
    bottom: 10px;
  }
}

main .card1 .home4 .place-title h1 {
  line-height: 30px;
  font-weight: 300px;
}

main .card1 .home4 .place-title p {
  font-size: 9px;
}

main .card1 .home5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: home5;
  position: relative;
  top: 15px;
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  main .card1 .home5 {
    margin-top: 20px;
    left: 25px;
    right: 0;
  }
}

main .card1 .home5 .price {
  position: absolute;
  background-color: #ff1c6f;
  color: white;
  font-size: 15px;
  width: 40%;
  padding: 10px;
  top: 0px;
  right: 65px;
  border-radius: 0 10px 0 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  main .card1 .home5 .price {
    right: 0;
  }
}

main .card1 .home5 img {
  height: 215px;
}

@media screen and (max-width: 700px) {
  main .card1 .home5 img {
    height: 190px;
  }
}

main .card1 .home5 .place-title {
  position: absolute;
  bottom: 30px;
  left: 25px;
  font-style: normal;
  color: #f8f8f8e5;
  font-size: 13px;
}

@media screen and (max-width: 700px) {
  main .card1 .home5 .place-title {
    bottom: 10px;
  }
}

main .card1 .home5 .place-title h1 {
  line-height: 30px;
  font-weight: 300px;
}

main .card1 .home5 .place-title p {
  font-size: 9px;
}

main .Backyards {
  margin-top: 50px;
  margin-left: 30px;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 700px) {
  main .Backyards {
    display: none;
  }
}

main .card2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 20px;
  gap: 7px;
  margin-left: 30px;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 700px) {
  main .card2 {
    display: none;
  }
}

main .card2 img {
  width: 300px;
}

main .card2 .title {
  margin-top: 5px;
  margin-left: 5px;
}

main .card2 .title p {
  font-size: 13px;
  font-weight: 100;
  line-height: 25px;
}

main .card2 .house2 {
  position: relative;
}

main .card2 .house2 .tag {
  position: absolute;
  background-color: #ff1c6f;
  color: white;
  font-size: 13px;
  top: 0px;
  right: 25px;
  padding: 10px;
  border-radius: 0 10px 0 10px;
  text-align: center;
  width: 40%;
}

main .card2 .house6 {
  position: relative;
}

main .card2 .house6 .tag {
  position: absolute;
  background-color: #ff1c6f;
  color: white;
  font-size: 13px;
  top: 0px;
  right: 25px;
  padding: 10px;
  border-radius: 0 10px 0 10px;
  text-align: center;
  width: 40%;
}

main .card2 .house12 {
  position: relative;
}

main .card2 .house12 .tag {
  position: absolute;
  background-color: #ff1c6f;
  color: white;
  font-size: 13px;
  top: 0px;
  right: 25px;
  padding: 10px;
  border-radius: 0 10px 0 10px;
  text-align: center;
  width: 40%;
}

main .lastpage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin: 170px 90px 80px 120px;
}

@media screen and (max-width: 700px) {
  main .lastpage {
    display: inline-block;
    margin: auto;
    margin-top: 100px;
  }
}

main .lastpage .picture img {
  border-radius: 10px 10px 100px 10px;
  -webkit-box-shadow: -35px -35px #e5e5e5;
          box-shadow: -35px -35px #e5e5e5;
}

@media screen and (max-width: 700px) {
  main .lastpage .picture img {
    height: 300px;
    margin-left: 70px;
  }
}

main .lastpage .ratingpage {
  font-family: "Quicksand", sans-serif;
  padding-left: 50px;
  line-height: 20px;
}

@media screen and (max-width: 700px) {
  main .lastpage .ratingpage {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

main .lastpage .ratingpage .rating {
  margin-top: 60px;
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  main .lastpage .ratingpage .rating {
    margin-top: 20px;
  }
}

main .lastpage .ratingpage .rating .checked {
  color: orange;
}

main .lastpage .ratingpage .designer {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 50px;
}

main .lastpage .ratingpage button {
  background-color: blue;
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 3px;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "rincian1 rincian2 rincian3 rincian4" "copyright copyright copyright copyright";
  padding: 50px 90px 0 90px;
  border-top: solid 2px #e5e5e5;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 700px) {
  footer {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "rincian1 rincian2 rincian3" "rincian4 rincian 4 rincian4" "copyright copyright copyright";
    padding: 20px 20px 0 20px;
  }
}

footer p {
  font-size: 12px;
  font-weight: 100;
  color: #b0b0b0;
  line-height: 25px;
}

@media screen and (max-width: 700px) {
  footer p {
    line-height: 18px;
  }
}

footer h1 {
  margin-bottom: 15px;
}

footer .rincian1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: rincian1;
}

@media screen and (max-width: 700px) {
  footer .rincian1 {
    margin-right: 15px;
  }
}

footer .rincian2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rincian2;
}

@media screen and (max-width: 700px) {
  footer .rincian2 {
    margin-right: 15px;
  }
}

footer .rincian3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: rincian3;
}

footer .rincian4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: rincian4;
}

@media screen and (max-width: 700px) {
  footer .rincian4 {
    display: none;
  }
}

footer .copyright {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: copyright;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

@media screen and (max-width: 700px) {
  footer .copyright {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
  }
}

footer .copyright P {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

@media screen and (max-width: 700px) {
  footer .copyright P {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */